# Add any directories, files, or patterns you don't want to be tracked by version control
/.metadata/
.metadata/
RemoteSystemsTempFiles/
/.recommenders/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.properties
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project
.settings/
.idea/
*.iml
*.iws
.DS_Store
log/
/META-INF/
*.jar
archived/
mylog.txt
nodeJs/nomadsLoggerServer/nodejs/mongodb/data
!vagrantWebRestDeploy/000_env_projet/provision/roles/webrest/files/rest/nomadsProjectSpringBootJsfWsRest-0.0.1-SNAPSHOT.jar
!vagrantWebRestDeploy/000_env_projet/provision/roles/webrest/files/web/nomadsProjectSpringBootJsfWeb.jar

