<div class="main-content">
    <div class="container-fluid">
      <iframe src="https://search-elasticnomads-cp2faprlmaoirmjevfqntns36y.eu-west-3.es.amazonaws.com/_plugin/kibana/goto/572261089bec01c26e1af69f889b1ed2?embed=true" height="800px" width="100%"></iframe>
     <!-- <div class="row">
                <lbd-chart
                  [title]="'Email Statistics'"
                  [subtitle]="'Last Campaign Performance'"
                  [chartClass]="'ct-perfect-fourth'"
                  [chartType]="emailChartType"
                  [chartData]="emailChartData"
                  [legendItems]="emailChartLegendItems"
                  [withHr]="true"
                  [footerIconClass]="'fa fa-clock-o'"
                  [footerText]="'Campaign sent 2 days ago'">
                </lbd-chart>
        </div>-->
    </div>
 </div>
